*.pyc
__pycache__
*~
.DS_Store
build/*
.coverage
*.class

dist/
planarity.egg-info/
*.so

# Vim's swap files
*.sw[op]

#Spyder project file
.spyderproject

# VSCode configuration
.vscode/*

# Pylint support
.pylintrc

# Sphinx documentation files
doc/build/**
doc/source/api/**

# Ignore Python virtual environments prepended with . and ending with "env"
**/.*env

# Cythonized extension .c files
planarity/full/*.c
planarity/classic/*.c
