include MANIFEST.in
include setup.py
include INSTALL.txt
include LICENSE.txt
include README.md

recursive-include examples *.py *.gz *.h
recursive-include doc *.py *.rst Makefile *.html *.txt

global-exclude *~
global-exclude *.pyc
global-exclude .git

prune doc/build
